*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;

}
section
{
    position: relative;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction:row;
    margin: 200px;
}
.imgBx
{
    position: relative;
    width: 40%;
    height: 90%;
    align-items: right;
    padding: 0%;
    background-color: rgb(158, 87, 225);
}
.imgBx:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.imgBx img
{
    position: ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.iconM
{
    display:flex ;
    width: 50%;
    flex-direction: column;
    margin:10%;
    margin-bottom:;
    margin-left:100px;
  /*  background-color: aqua;*/
}
.iconM .icon
{
   /* border: #607d8b solid;*/
    width: 100px;
    height: 90px;
    border-radius: 50px;
    margin:20px;
    margin-left: 50px;
}
.iconM .icon .adIm
{
    width: 100px;
    height: 100px;
    border-radius: 52px; 
}

.iconM h1
{
    color: black;
    text-align: center;
    margin-left: 38px;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin:0%;
    border-bottom: ;
    display: inline-block;
    letter-spacing: 1px;
}
.contentBx
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
    height: 90%;
    background-color: rgb(153, 196, 159);
}

.contentBx .formBx
{
    width: 80%;
    display:flex;
    flex-direction: ;
    align-items: center;
   /* background-color: rgb(161, 90, 227);*/
    padding: 30px ;
    margin-left: 49px;
    margin-top: -20px;

}/*
.contentBx .formBx h1
{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: ;
    display: inline-block;
    letter-spacing: 1px;
}*/
.contentBx .formBx .inputBx
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.contentBx .formBx .inputBx input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color:black;
    background: transparent;
    border-radius: 30px;
}
::placeholder
{
    color: black;
}
.contentBx .formBx .remember
{
    font-size: 23px;
    font-weight: 100;
    margin-top: 10%;
}
.contentBx .formBx .inputBx .psw
{
    font-size: 23px;
    margin-top: 10%;
}
.contentBx .formBx .inputBx .psw a
{
    color: black;
    text-decoration: none;
}
.contentBx .formBx .submitBx button
{
    background: rgb(50, 206, 50);
    color:  black;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 3%;
    border-radius: 30px;
}
.contentBx .formBx .submitBx button:hover
{
    background: transparent;
}
@media(max-width:1000px)
{
    section
    {
        display: flex;
        margin:auto;
        flex-direction: column;
        width: 90%;
    }
    .contentBx{
        width: 100%;
    }
    .imgBx{
        width: 100%;
    }
}